.topWrap {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  margin-bottom: 25px;
}

.title {
  color: burlywood;
  margin-bottom: 10px;
}

.score,
.overview {
  margin-bottom: 5px;
}

.span {
  font-weight: 700;
}

.additional {
  font-size: 18px;
}

.bottomWrap {
  margin-bottom: 15px;
}

.list {
  margin-left: 20px;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: rgb(255, 162, 0);
}
