.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 25px;
}

.item {
  max-width: 120px;
  background-color: rgb(33, 33, 33);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrap {
  padding: 6px;
  height: 110px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.img {
  object-fit: cover;
}

.name {
  font-size: 14px;
}
.character {
  font-size: 12px;
}
